body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

h1 {
    margin-top: 20px;
}

#controls {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button.active {
    background-color: #28a745;
    box-shadow: 0 0 5px #28a745;
}


#graph-container {
    width: 80vw;
    height: 60vh;
    border: 2px solid #ccc;
    background-color: #fff;
    position: relative;
}

#graph-svg {
    width: 100%;
    height: 100%;
}

.node {
    r: 20;
    fill : #fff;
    stroke: #007bff;
    /* color: #000; */
    /* font: 30px; */
    stroke-width: 3;
    cursor: pointer;

    /* display: block; */
    
    transition: fill 0.3s;
    text-align: middle;
}

.node:hover {
    stroke: #0056b3;
}

.node.start {
    stroke: #28a745; /* Green */
}

.node.end {
    stroke: #dc3545; /* Red */
}

.node-label {
    font-size: 16px;
    fill: #000;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: central;
    pointer-events: none;
}

.edge {
    stroke: #333;
    stroke-width: 4;
}

.edge-label {
    font-size: 16px;
    fill: #d9534f;
    font-weight: bold;
    /* -webkit-text-stroke: 3px white; */
    text-anchor: middle;
    dominant-baseline: central;
    pointer-events: none;

    stroke: white;
    stroke-width: 3px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    paint-order: stroke;
}

.path {
    stroke: #ffc187;
    stroke-width: 4;
}

#status-text {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}
